@using AzureBlazorCosmosWasm.Data

@using SuperCodeData

@inject SuperCodeClient Client
 
@if (Users != null)
{
    <h1>Users</h1>
    @foreach (var user in Users)
    {
      <p>@user.FirstName</p>
    }
    <DxDataGrid Data="@Users"
                RowInserting="@((newValues) => OnRowInserting(newValues))"
    >
      <DxDataGridCommandColumn />
      <DxDataGridColumn Field="@nameof(User.FirstName)"/>
      <DxDataGridColumn Field="@nameof(User.LastName)"/>
    </DxDataGrid>
}

@code {
    /// <summary>
    /// The list of <see cref="User"/> to render.
    /// </summary>
    [Parameter]
    public List<User> Users { get; set; }

    static User UpdateItem(User item, Dictionary<string, object> itemProperties) {
      foreach (var field in itemProperties.Keys) {
        switch (field) {
          case "FirstName":
            item.FirstName = (string)itemProperties[nameof(User.FirstName)];
            break;
          case "LastName":
            item.LastName = (string)itemProperties[nameof(User.LastName)];
            break;
        }
      }
      return item;
    }

    protected async void OnRowInserting(Dictionary<string, object> itemProperties) {
      User newUser = UpdateItem(new User(), itemProperties);
      Users.Add(newUser);
      using (var context = await Client.GetDbContextAsync())
      {
        context.Users.Add(newUser);
        await context.SaveChangesAsync();
      }
    }
}
